

.lc_body {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(30%);
    background-image: url("http://localhost/img_folder/skr2.jpg");
}

.div-1 {
    
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 340px;
    display: flex;
}


.cal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 290px;

}

.result {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 17px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    width: 90%;
    height: 75%;
}

.shw-rsl {
    font-family: "Prompt", sans-serif;
    font-size: 60px;
}


.btn-1 {

    background-color: rgb(26, 0, 172);
    
    border: 0;
    width: 85%;
    color: white;
    font-family: "Prompt", sans-serif;
    padding: 5px;
    font-size: 21px;
    border-radius: 25px;
    height: 40px;
    transition: all .2s ease;

}

.btn-1:hover {
    transform: scale(1.1,1.1);
    background-color: rgb(0, 171, 14);
}


.pr-1 {
   
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    height: 640px;
    width: 50%;
    background-color: rgb(255, 255, 255);
    
}

.score-shw {
    background-color: white;
    font-family: "Prompt", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border: 2px rgb(193, 193, 193) solid;
    border-radius: 5px;
    width: 40%;
    height: 300px;
    transition: all .5s ease;
    
}




.score-shw h4 {
    
    font-family: "Prompt", sans-serif;
    font-size: 100px;
    transition: all .2s ease;
}


.other-shw {
    display: flex;
    flex-direction: column;
    
}

.other-shw h1{
    font-family: "Prompt", sans-serif;
    font-size: 37px;
    
}

.score-shw h4:hover {
    transform: scale(1.1,1.1) ;
    
}
.user {
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 23px;
    font-family: "Bai Jamjuree", sans-serif;

}

.pass-shw {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;



}
.bxs-show {
    font-size: 40px;
    color: rgb(0, 0, 169);
    
}

.bxs-hide {
    font-size: 40px;
    color: black;
    
}


/* BIG BOX */

.big-div {
    
    display: flex;
    flex-direction: row;
    padding-right: 2%;
    padding-left: 2%;
}


/* DIV  2 */

.div-2 {
    
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    margin-left: 15px;
    margin-bottom: 15px;
    height: 640px;
    width: 50%;
    background-color: rgb(255, 255, 255);

}

.bgph-1 , .bgph-2 , .bgph-3 {
    align-items: end;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 25%;
    height: 300px;
    
    margin: 10px;
}

.bgph-1 h1,.bgph-2 h1,.bgph-3 h1 {
    font-family: "Prompt", sans-serif;
    font-size: 15px;
}

.graph {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.avr {
    background-color: rgb(17, 167, 17);
    width: 28%;
    height: 70%;
}

.most-score {
    background-color: rgb(232, 34, 12);
    width: 28%;
    height: 90%;
}

.your_score {
    background-color: rgb(12, 78, 232);
    width: 28%;
    height: 50%;
}



.text-con h1{
    text-align: center;
    font-family: "Prompt", sans-serif;
    font-size: 37px;
}


.advide {
    margin-top: 20px;
    padding-left: 10%;
    
    width: 80%;
}

.advide div div {
    margin-right: 20px;
    width: 30px;
    height: 30px;
}

.advide div h1{
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 20px;
}

.advide div {
    display: flex;
    align-items: center;
}

.green {
    background-color: rgb(17, 167, 17);
}

.red {
    background-color: rgb(232, 34, 12);
}

.blue {
    background-color: rgb(12, 78, 232);
}


@media screen and (max-width: 1240px){
    .score-shw h4 {
        font-size: 70px;
    }
    
}

@media screen and (max-width: 1040px){
    .score-shw h4 {
        font-size: 60px;
    }
    
}


@media screen and (max-width: 1000px) {
    .score-shw h4 {
        font-size: 100px;
    }
    .big-div {
        flex-direction: column;
        justify-content: center;
    }

    .pr-1 {
        justify-content: center;
        width: 98%;
        
    }

    .div-1 {
        margin-right: 15px;
        width: 100%;
    }
    
    .div-2 {
        margin-left: 0px;
        width: 98%;
        
    }
    
    .lc_body {
        height: 100%;
    }
}

@media screen and (max-width: 590px) {

    
    .big-div {
        
        padding-right: 0.1%;
    }

    .score-shw h4 {
        font-size: 30px;
    }

    .other-shw h1 {
        font-size: 22px;
    }

    .user {
        font-size: 20px;
    }

    .bxs-hide{
        font-size: 30px;
    }

    .score-shw {
        height: 200px;
    }

    .div-1 {
        height: 40%;
    }

    .div-2 {
        height: 100%;
    }

    .pr-1 {
        
        margin-right: 5%;
        height: 100%;
        display: flex;
        justify-content: start;
    }
    
    
}